[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
flask = "*"
flask-security = "*"
flask-mongoengine = "*"
bcrypt = "*"
flask-bootstrap = "*"
boto3 = "*"
dnspython = "*"
pillow = "*"
