#container {
    width: 100%;
    margin: 50px auto;
}

.grid-item:hover {

    -webkit-box-shadow: 0 4px 15px -5px #818181;
    box-shadow: 0 4px 15px -5px #818181;
}

.grid-item {
    float: left;
    transition: all 0.5s ease;
    background-color: #fff;
    width: 220px;
    padding: 2px;
    margin: 50px;
    text-align: center;
}

.grid-item-caption {
    font-size: small;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    color: #5d5d5d;
    text-transform: capitalize;
}

.no-decorate:hover {
    text-decoration: none !important;
}

.likes{
    padding: 2px;
}

.likes i:hover {
    cursor: pointer;
}

h2 {
    font-size: 1em;
    text-align: center;
}

img {
    max-width: 100%;
}
