{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/gallery.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/upload.css')}}">
{% endblock %}
{% block title %}Gallery{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Wedding Gallery</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/manage">Review Photos</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<section class="upload-container">
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    <div>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="file-upload-wrapper" data-text="yourphoto.png">
                <input name="file" type="file" class="file-upload-field" required>
            </div>
            <br>
            <input type="text" class="form-control" name="author" placeholder="Author" autocomplete="off" required>
            <br>
            <button class="btn btn-default btn-block" type="submit">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> SEND!
            </button>
        </form>
    </div>
</section>
<hr/>
<section class="container">
    <p>
        sort by: <a href="/?page={{ request.args.get('page', 1) }}&sort=likes">likes</a> | <a
            href="/?page={{ request.args.get('page', 1) }}&sort=timestamp">date</a>
    </p>
    {% if photos['totalItems'] > 0 %}
    <div class="container text-center">
        <span class="text-sm">page {{photos['page']}} de {{photos['totalPages']}}</span>
        {% if photos['hasPrev'] %}
        <a href="/?page={{ photos['page']-1 }}&sort={{request.args.get('sort', 'likes')}}"><< prev</a>
        {% endif %}

        {% if photos['hasNext'] %}
        <a href="/?page={{ photos['page']+1 }}&sort={{request.args.get('sort', 'likes')}}">next >></a>
        {% endif %}
    </div>
    <div id="container" class="clearfix">
        <div class="grid">
            {% for photo in photos['items'] %}
            <div class="grid-item">
                <div class="grid-item-img">
                    <img src="{{photo.url}}" alt="">
                </div>
                <div class="grid-item-caption">
                    <span>by {{photo.author}}</span>
                    <br>
                    <div class="text-right likes">
                        <span id="{{photo._id}}" class="text-muted no-decorate">{{photo.likes}}&nbsp;</span>
                        <i onclick="like('{{photo._id}}')" class="glyphicon glyphicon-thumbs-up"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="center-block"><h4>No photos was uploaded.</h4></div>
    {% endif %}
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/gallery-grid.js')}}"></script>
<script>
    $("form").on("change", ".file-upload-field", function () {
        $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, ''));
    });

    function like(photo_id) {
        let likes_value = $("#" + photo_id);
        let n_likes = likes_value.html();
        likes_value.html(parseInt(n_likes) + 1);
        $.post("/api/photos/" + photo_id + "/like", function (data) {
            let response = JSON.parse(data);
            if (response.success && n_likes < response.total_likes) {
                $("#" + photo_id).html(response.total_likes);
            }
        });
    }
</script>
{% endblock %}