{% extends "bootstrap/base.html" %}
{% block title %}New Photos{% endblock %}

{% block navbar %}
<div class="navbar">
    <h5><b>{{username}}</b> <span><a href="/">home</a></span> | <span><a href="/logout">logout</a></span></h5>
</div>
{% endblock %}

{% block content %}
<h3>New photos</h3>

{% if photos['totalItems'] > 0 %}
<div class="row text-center text-lg-left">
    {% for photo in photos['items'] %}
    <div class="col-lg-3 col-md-4 col-6">
        <a href="{{photo.url}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{photo.url}}" alt="" title="Download">
        </a>
        <p class="text-center">Author: {{photo.author}}</p>
        <span id="{{photo._id}}"><button onclick="approve('{{photo._id}}')" class="btn btn-link">Approve</button></i></span>
    </div>
    {% endfor %}
    {% if photos['hasPrev'] %}
    <a href="/?page={{ request.args.get('page', type=int)-1 }}"></a>
    {% endif %}
    {% if photos['hasNext'] %}
    <a href="/?page={{ request.args.get('page', type=int)+1 }}"></a>
    {% endif %}
</div>
{% else %}
<div class="center-block"><h4>No photos to approve.</h4></div>
{% endif %}

{% endblock %}
{% block scripts %}
{{ super() }}

<script>
    function approve(photo_id) {
        $.post("/api/photos/"+photo_id+"/approve", function (data) {
            if(JSON.parse(data).success){
                $("#"+photo_id).html('<i class="glyphicon glyphicon-check"> Approved');
            }
        });
    }
</script>
{% endblock %}