{% extends "bootstrap/base.html" %}
{% block title %}New Photos{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/gallery.css')}}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">{{username}}</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="text-center">
    <h3 class="center-block">Review photos!</h3>
</div>
{% if photos['totalItems'] > 0 %}
<div>
    <div class="container text-center">
        <span class="text-sm">page {{photos['page']}} de {{photos['totalPages']}}</span>
        {% if photos['hasPrev'] %}
        <a href="/?page={{ photos['page']-1 }}&sort={{request.args.get('sort', 'likes')}}"><< prev</a>
        {% endif %}

        {% if photos['hasNext'] %}
        <a href="/?page={{ photos['page']+1 }}&sort={{request.args.get('sort', 'likes')}}">next >></a>
        {% endif %}
    </div>
    <div id="container" class="clearfix">
        <div class="grid">
            {% for photo in photos['items'] %}
            <div class="grid-item">
                <div class="grid-item-img">
                    <img src="{{photo.url}}" alt="">
                </div>
                <div class="grid-item-caption">
                    <span>
                        <span>Author: {{photo.author}}</span>
                        <br>
                        <span id="{{photo._id}}">
                            <button onclick="approve('{{photo._id}}')" class="btn btn-sm btn-link">Approve</button>
                        </span>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="center-block"><h4>No photos to approve.</h4></div>
{% endif %}

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/gallery-grid.js')}}"></script>
<script>
    function approve(photo_id) {
        $.post("/api/photos/" + photo_id + "/approve", function (data) {
            if (JSON.parse(data).success) {
                $("#" + photo_id).html('<i class="glyphicon glyphicon-check"></i> <b>Approved</b> <br>');
            }
        });
    }
</script>
{% endblock %}